*{
    margin: 0px;
    font-family: monospace;
    scroll-behavior: smooth;
}
body{
    background-color: #004b84;
}
/*home page*/

header{
    background-image: url("background.jpg");
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

header> div> div >  nav > a > button{
    border: solid white;
    height: 50px;
    width: 125px;
    font-size: 15px;
    border-radius: 12px;
    transition: all ease .2s;
    cursor: pointer;
    font-weight: lighter;
    color: rgb(14, 1, 255);
    padding: 0px;
}
header nav{
    border-radius: 15px;
    background: none;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
header h1{
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}
header a{ 
    text-decoration: none;
    margin: 20px;
}
header button:hover{
    background-color: rgb(54, 195, 234);
    border: solid rgb(54, 195, 234);
    transform: scale(1.1);
    color: rgb(0, 0, 0);
    font-weight: 700;
}

section{
    height: 100vh;
    padding: 10px;
}

.about, .skills, .projects, .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*about page*/


.about > div{
    border: solid;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 3px;
    background-color: white;
}
.about h1{
    font-size: 35px;
    color: blue;
    margin-bottom: 15px;
    text-align: center;
}
.about .image{
    margin-bottom: 15px;
}

.about li{
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 10px;
}
.about ul{
    padding: 30px;
    margin: 10px;
}

/*skill page*/
.skills > div{
    border: solid;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 3px;
    background-color: white;
}
.skills  h2{
    color: blue;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.skills li{
    font-size: 20px;
}

/*projects*/
.projects > div{
    border: solid;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 3px;
    padding: 15px;
    background-color: white;
}
.projects  h2{
    color: blue;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.projects th{
    font-size: 15px;
}
.projects td{
    font-size: 15px;
}

/*contact*/
.contact{
    height: 80vh;
    padding-bottom: 0px;
}
.contact > div{
    border: solid;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-width: 3px;
    padding: 20px;
    background-color: white;
}
.contact  h2{
    color: blue;
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
}
.contact p{
    font-weight: 600;
    font-size: 15px;
}
.contact form{
    background-color: rgb(195, 190, 190);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact > div > form > div{
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact button{
    height: 45px;
    width: 100px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    background-color: rgb(59, 182, 234);
    border: rgb(50, 185, 244);
    border-radius: 15px;
    cursor: pointer;
    transition: ease all .2s;
}
.contact button:hover{
    transform: scale(1.1);
    color: rgb(0, 229, 255);
    background-color: blue;
}
.gen > div{
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
}
form textarea{
    resize: none;
}


/*footer*/
footer{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(161, 158, 158);
    background-color: rgb(0, 0, 0);
}
footer > p{
    font-size: 15px;
    font-weight: 900;
}
footer div{
    padding: 10px;
    display: flex;
    justify-content: center;
}
footer > div > a{
    color: white;
    margin: 10px;
    transition: all ease .3s;
}
footer > div > a:hover{
    color: rgb(0, 208, 255);
    transform: scale(1.2);

}

.up{
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: solid rgb(0, 8, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 900;
    cursor: pointer;
    
}
.up-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}

@media(max-width: 500px){
    body{
        background-color: rgba(255, 62, 44,0.7);
    }
    header{
        background-image: url("homebg.jpg");
        background-size: cover;
        background-position: center;
        height: 100dvh;
    }

    header h1{
        font-size: 30px;
        font-weight: 800;
    }
    .about h1{
        font-size: 30px;
        color: rgb(226, 47, 19);
    }
    .up{
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    header{
        display: flex;
    }
    header > div > div > nav{
        backdrop-filter: blur(0px);
    }
    header > div{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: rgba(255, 62, 44,0.5);
        width: 100%;
        display: flex;
        justify-content: center;
        height: 50%;
        align-items: flex-start;
        height: 350px;
        margin-bottom: 0px;
        margin-top: auto;
        padding-top: 40px;
    }
    header > div > div >  nav > a > button{
        font-weight: 800;
        color: black;
        font-size: 16px;
    }
    header button:hover{
        transform: scale(1);
        background-color: white;
        border: solid white;
        color: rgb(226,47,19);
    }
    header button:active{
        background-color: rgb(255, 255, 255);
        border: solid rgb(255, 255, 255);
        color: rgb(255, 0, 0);
    }
    .skills h2, .contact h2, .projects h2{
        font-size: 30px;
        color: rgb(226, 47, 19);
    }
    footer> div > a{
        color: white;
    }
    footer > div > a:hover{
        transform: scale(1);
        color: white;
    }
    .contact button:hover{
        transform: scale(1);
        background-color: rgb(54, 195, 234);
        color: white;
    }
    .contact button:active{
        background-color: blue;
        color: aqua;
    }
    .up{
        border: solid black;
    }
}